
body {
    font-family: sans-serif;
    background-color: #B9F73E;
    margin: 15px;
}

h1 {
    text-align: center;
}
.qwerty{
    background-color:#00A480
    color:#FF9F00
}
.wasd{
  background-color:#7F70D8
    color:#1F7B67
}
.zxc{
  background-color:#FFCA73  
   color:  #3A2E85
}
